<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	 xmlns:beans="http://www.springframework.org/schema/beans"
	  xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
                    http://www.springframework.org/schema/context
                    http://www.springframework.org/schema/context/spring-context.xsd
                    http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/tx
                    http://www.springframework.org/schema/tx/spring-tx.xsd
                    http://www.springframework.org/schema/aop
                    http://www.springframework.org/schema/aop/spring-aop.xsd
                    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
	
	<!-- 读取properties -->
	<context:property-placeholder
		location="classpath:jdbc.properties" local-override="true" />
	<!-- 配置数据库连接池 -->
	<bean id="dataSource"
		class="com.alibaba.druid.pool.DruidDataSource">
		<property name="username" value="${username}"></property>
		<property name="password" value="${password}"></property>
		<property name="url" value="${url}"></property>
		<property name="driverClassName" value="${driverClassName}"></property>
		<!-- 最大并发数 -->
		<property name="maxActive" value="${maxActive}"></property>
		<!-- 初始化连接数量 -->
		<property name="initialSize" value="${initialSize}"></property>
		<!-- 最小空闲连接数 -->
		<property name="minIdle" value="${minIdle}"></property>
		<!-- 超时时间 毫秒 -->
		<property name="maxWait" value="${maxWait}"></property>
	</bean>
	<bean id ="pagehelper" class="com.github.pagehelper.PageInterceptor" />
	<!-- 配置sqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="plugins" ref="pagehelper"></property>
		<!-- 注入数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 别名 -->
		<property name="typeAliasesPackage" value="org.cskj.Bean"></property>
		<!-- 映射文件位置 -->
		<property name="mapperLocations" value="classpath:/org/cskj/Mapper/*.xml"></property>
	</bean>
	<!-- 配置session -->
	<bean id="sqlSession"
		class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"></constructor-arg>
	</bean>
	<!-- 扫描mapper接口 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="org.cskj.Mapper"></property>
	</bean>
	<!-- 配置事务管理 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 配置注解式事务处理 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	<!-- 配置声明式事务处理 -->
</beans>